* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 93%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 93%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 94%;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 97%;
  }
}

/* Start Header */
body {
  position: relative;
  background-color: #0f1519;
  color: #fff;
  line-height: 1.3125em;
  font-family: "Colfax", Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  height: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #eee;
}
body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #333;
}
.header {
  position: relative;
}
.header .container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .links .flex-list {
  position: relative;
}
.shechle {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.shechle li {
  padding: 8px 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
}
.shechle li:hover::before {
  width: 100%;
}
.shechle li::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  background-color: aqua;
  width: 0%;
  height: 5px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.shechle li:hover {
  background-color: #ddddddef;
}
.header .content-ul {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 110%;
  height: 580px;
  left: -9999px;
  background-color: #b9b3b3;
  padding: 42px 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: 111;
}

.header .side-four {
  flex-basis: 44%;
  display: flex;
  gap: 9px;
  margin-top: 26px;
}
.side-four .photo-ul img {
  width: 100%;
}
.content-ul ul li {
  margin-bottom: 20px;
}
.side-one,
.side-two,
.side-three,
.esport,
.bus,
.side-four {
  flex-basis: 20%;
  padding: 1px 1px 1px 8px;
  width: 100%;
}

.side-two,
.side-three {
  position: relative;
}
.esport,
.bus {
  position: absolute;
  left: 0;
  margin-top: 30px;
}

.side-one li:first-child,
.side-two li:first-child,
.side-one li,
.side-two li,
.side-three li,
.esport li {
  color: #0a0a0a;
  padding: 6px 5px 6px 11px;
  border-radius: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  line-height: 1.2rem;
}
.side-one li:first-child,
.side-two > li:first-child,
.side-three > li:first-child,
.side-two li:last-child,
.busniess {
  background: rgba(4, 0, 33, 0.41);
}

.esport .valo {
  background: initial !important;
}
.esport .valo:hover {
  background: rgb(186 186 186 / 41%) !important;
}
.side-one li:hover,
.side-two li:hover,
.side-three li:hover {
  background: rgb(10, 165, 189);
}

#nav-check:checked ~ .content-ul {
  left: 0;
}

.hamburger {
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  margin-top: 4px;
  top: 44%;
  left: 96%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.hamburger:hover {
  background-color: #717275;
}
.hamburger div {
  width: 30px;
  height: 2px;
  background-color: #212526;
  margin: 6px 0;
}
input {
  display: none;
}
header .header-icon i {
  margin-left: 10px;
  color: #717275;
  font-size: 20px;
}
/* Media Query */

@media (max-width: 767px) {
  .header .content-ul {
    height: 197vh;
  }
}

@media (max-width: 992px) {
  .header .content-ul {
    display: flex;
    position: absolute;
    left: -1000px;
    padding: 68px 0;
    flex-direction: column;
    width: 100%;
    height: 187;
    border-radius: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .side-two {
    margin-bottom: 78px;
  }
  .side-three {
    margin-bottom: 186px;
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 94%;
  }
  #nav-check:checked ~ .content-ul {
    left: 0;
  }
  .hamburger {
    left: 94%;
  }
  .shechle {
    display: none;
  }
}

@media (max-width: 767px) {
  .hamburger {
    margin-left: -5px;
  }
}

/* End Header */
.head {
  width: 100%;
  background: #0a0e13;
}
.head .container {
  padding: unset;
}
.content-box-head {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}
.content-box-head::-webkit-scrollbar {
  height: 10px;
}
.content-box-head::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 25px;
}
.content-box-head::-webkit-scrollbar-thumb {
  background-color: #212526;
  width: 100px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  scroll-padding-left: 100px;
}

.content-box-head .box {
  padding: 10px;
  min-width: 297px;
  position: relative;
  cursor: pointer;
}

.content-box-head .box::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  border-right: 1px solid #ffff;
  left: -10px;
}
.content-box-head .box:first-child::before,
.content-box-head .box:nth-child(3)::before,
.content-box-head .box:nth-child(5)::before,
.content-box-head .box:nth-child(7)::before,
.content-box-head .box:nth-child(9)::before,
.content-box-head .box:nth-child(11)::before {
  bottom: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-box-head .box:nth-child(2)::before,
.content-box-head .box:nth-child(4)::before,
.content-box-head .box:nth-child(6)::before,
.content-box-head .box:nth-child(8)::before,
.content-box-head .box:nth-child(10)::before,
.content-box-head .box:nth-child(12)::before {
  top: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-box-head .box:first-child:hover::before,
.content-box-head .box:nth-child(2):hover::before,
.content-box-head .box:nth-child(3):hover::before,
.content-box-head .box:nth-child(4):hover:before,
.content-box-head .box:nth-child(5):hover:before,
.content-box-head .box:nth-child(7):hover:before,
.content-box-head .box:nth-child(9):hover:before,
.content-box-head .box:nth-child(11):hover:before,
.content-box-head .box:nth-child(6):hover:before,
.content-box-head .box:nth-child(8):hover:before,
.content-box-head .box:nth-child(10):hover:before,
.content-box-head .box:nth-child(12):hover:before {
  height: 100%;
}
.flex-box .image-box {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex-box .image-box img {
  width: 37px;
}
.content-box-head .time {
  font-size: 21px;
}
/* End Section Of Head */

/* Start Section content area */
.grid-content-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid #333;
  padding-top: 35px;
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

.grid-content-area .column-one,
.grid-content-area .column-two {
  flex-basis: 80%;
}
.grid-content-area .column-three {
  flex-basis: 60%;
}

.image-con img {
  width: 100%;
}
/* .column-three {
  border-left: 1px solid #333;
} */
.column-three .image-con {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.recent-match {
  padding: 15px;
}
.recent-match .recent-pharagraph {
  color: #8fa3b0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

.content-recent {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 45px;
}
.content-recent .text-recent p {
  font-weight: bold;
  margin-top: 7px;
  max-width: 100%;
  line-height: 1.5;
}
.content-recent .text-recent span {
  font-size: 14px;
}
.image-rec {
  width: 200px;
}
.image-rec img {
  width: 100%;
}
.recent-match {
  position: relative;
  /* height: 100%; */
  padding: 15px;
  border-left: 1px solid #333;
  left: -1px;
}
.recent-match .content-recent:last-child {
  position: relative;
}
.recent-match .content-recent:last-child::before {
  content: "";
  position: absolute;
  width: 112%;
  height: 1px;
  bottom: -15px;
  left: -14px;
  background-color: #333;
  margin-top: 10px;
}

@media (max-width: 610px) {
  .grid-content-area .column-three {
    overflow-y: unset !important;
  }
}

@media (max-width: 992px) {
  .grid-content-area {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .recent-match .content-recent:last-child::before {
    width: 100%;
  }
  .grid-content-area {
    border-bottom: unset;
  }
  .grid-content-area .column-three {
    overflow-y: scroll;
  }

  .grid-content-area .column-three::-webkit-scrollbar {
    height: 10px;
  }
  .grid-content-area .column-three::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  .grid-content-area .column-three::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 25px;
  }
}

/* End Content Area */
/* Start Footer */
.footer {
  padding-bottom: 20px;
  padding-top: 20px;
}
.foot-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-content .foot-one {
  display: flex;
  align-items: center;
  gap: 17px;
}
.foot-content .foot-two .link-foot {
  display: flex;
  align-items: center;
}
.foot-content .foot-two .link-foot li {
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.foot-content .foot-two .link-foot li:hover {
  color: red;
}
@media (max-width: 992px) {
  .foot-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot-content .foot-two .link-foot {
    margin-top: 10px;
  }
  .foot-content .foot-two {
    margin-left: -35px;
  }
  .foot-content .foot-one {
    margin-bottom: 17px;
    margin-top: 12px;
  }
}
